name: valkey-ldap
services:
  ldap:
    image: osixia/openldap:1.5.0
    container_name: ldap
    environment:
        - LDAP_ORGANISATION=valkey
        - LDAP_DOMAIN=valkey.io
        - LDAP_BASE_DN=dc=valkey,dc=io
        - LDAP_ADMIN_PASSWORD=admin123!
        - LDAP_TLS_CRT_FILENAME=valkey-ldap.crt
        - LDAP_TLS_KEY_FILENAME=valkey-ldap.key
        - LDAP_TLS_CA_CRT_FILENAME=valkey-ldap-ca.crt
    ports:
        - 389:389
        - 636:636
    volumes:
        - ./certs:/container/service/slapd/assets/certs

  ldap-2:
    image: osixia/openldap:1.5.0
    container_name: ldap-2
    environment:
        - LDAP_ORGANISATION=valkey
        - LDAP_DOMAIN=valkey.io
        - LDAP_BASE_DN=dc=valkey,dc=io
        - LDAP_ADMIN_PASSWORD=admin123!
        - LDAP_TLS_CRT_FILENAME=valkey-ldap.crt
        - LDAP_TLS_KEY_FILENAME=valkey-ldap.key
        - LDAP_TLS_CA_CRT_FILENAME=valkey-ldap-ca.crt
    ports:
        - 390:389
        - 637:636
    volumes:
        - ./certs:/container/service/slapd/assets/certs

  falkordb:
    hostname: falkordb
    image: falkordb/falkordb:latest
    container_name: falkordb
    ports:
        - 6379:6379
    entrypoint:
      - /bin/bash
      - -c
      - |
        redis-server /var/lib/falkordb/node.conf
    volumes:
        - ../../libvalkey_ldap.so:/var/lib/falkordb/libvalkey_ldap.so
        - ../../node.conf:/var/lib/falkordb/node.conf

  frontend:
    build:
      context: ../../frontend
      dockerfile: Dockerfile
    container_name: ldap-frontend
    ports:
        - 5001:5000
    environment:
        - LDAP_SERVER=ldap://ldap:389
        - LDAP_ADMIN_DN=cn=admin,dc=valkey,dc=io
        - LDAP_ADMIN_PASSWORD=admin123!
        - LDAP_BASE_DN=dc=valkey,dc=io
        - REDIS_HOST=falkordb
        - REDIS_PORT=6379
    depends_on:
        - ldap
        - falkordb


