name: Release module

on:
    workflow_dispatch:
        inputs:
            release_version:
                description: "Version to release (e.g., 1.2.3)"
                required: true
    push:
        tags:
            - "v*.*.*"

jobs:
    release:
        name: Release - ${{ matrix.arch }}
        strategy:
            matrix:
                include:
                    - arch: amd64
                      runner: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                    - arch: arm64
                      runner: ubuntu-24.04-arm
                      target: aarch64-unknown-linux-gnu
                    - arch: alpine-amd64
                      runner: ubuntu-latest
                      target: x86_64-unknown-linux-musl
                    - arch: alpine-arm64
                      runner: ubuntu-24.04-arm
                      target: aarch64-unknown-linux-musl
        runs-on: ${{ matrix.runner }}
        steps:
            - name: Install OpenSSL development libraries
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libssl-dev musl-tools
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up Rust
              uses: dtolnay/rust-toolchain@1.87.0
            - name: Add Rust target
              run: rustup target add ${{ matrix.target }}
            - name: Install cross-compilation tool
              if: contains(matrix.target, 'musl')
              run: cargo install cross --version 0.2.5
            - name: Build shared library (musl)
              if: contains(matrix.target, 'musl')
              run: cross build --release --target ${{ matrix.target }}
            - name: Build shared library (gnu)
              if: "!contains(matrix.target, 'musl')"
              run: cargo build --release --target ${{ matrix.target }}
            - name: Rename .so for arch
              run: mv target/${{ matrix.target }}/release/libvalkey_ldap.so target/${{ matrix.target }}/release/libvalkey_ldap-${{ matrix.arch }}.so
            - name: Upload .so artifact
              uses: actions/upload-artifact@v6
              with:
                  name: valkey-ldap-${{ matrix.arch }}.so
                  path: target/${{ matrix.target }}/release/libvalkey_ldap-${{ matrix.arch }}.so

    publish-release:
        name: Publish Release
        needs: release
        runs-on: ubuntu-latest
        steps:
            - name: Download all artifacts
              uses: actions/download-artifact@v7
              with:
                  path: ./artifacts
                  pattern: "valkey-ldap-*.so"

            - name: Move .so files to root artifacts dir
              run: |
                find ./artifacts -name 'libvalkey_ldap-*.so' -exec mv {} ./artifacts/ \;

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                files: ./artifacts/libvalkey_ldap-*.so
                name: ${{ github.event.inputs.release_version || github.ref_name }}
                tag_name: ${{ github.event.inputs.release_version || github.ref_name }}
                draft: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
