name: Release module

on:
    workflow_dispatch:
    push:
        tags:
            - "v*.*.*"

jobs:
    release:
        name: Release - ${{ matrix.platform.os-name }}
        strategy:
            matrix:
                platform:
                    - os-name: Linux-x86_64
                      target: x86_64-unknown-linux-gnu
                    - os-name: Linux-aarch64
                      target: aarch64-unknown-linux-gnu
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Install OpenSSL development libraries
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libssl-dev
            - name: Build shared library
              uses: houseabsolute/actions-rust-cross@v1
              with:
                  command: build
                  target: ${{ matrix.platform.target }}
                  args: "--locked --release"
                  strip: false
            - name: Upload .so artifact
              uses: actions/upload-artifact@v4
              with:
                  name: valkey-ldap-${{ matrix.platform.os-name }}.so
                  path: target/${{ matrix.platform.target }}/release/libvalkey_ldap.so

    publish-release:
        name: Publish Release
        needs: release
        runs-on: ubuntu-latest
        steps:
            - name: Download all artifacts
              uses: actions/download-artifact@v4
              with:
                  path: ./artifacts

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  files: ./artifacts/**/*.so
                  name: ${{ github.ref_name }}
                  tag_name: ${{ github.ref_name }}
                  draft: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
